# general
__pycache__/
.DS_Store
testing/

# environments
.env/
.old_env/

# build information
*.egg-info
*.egg
build/
dist/

# other directories that can be large / superfluous
logs/
data/
figs/
old/
experiments/perf_reports/
img/
.claude/